.QuizContainer {
  height:calc(100vh - 8rem);
}
.reactLogo {
  height: 20rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: fixed;
  left: 20vw;
  top: 35vh;
}
.QuizContainer .reactLogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.reactLogo.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .reactLogo {
    animation: logo-spin infinite 20s linear;
  }
}

.startQuizButton {
  background-color: #ffffff00;
  border: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  position: fixed;
  left: 60vw;
  top: 50vh;
}
.startQuizButton span {
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}
.startQuizButton span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}
.startQuizButton span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}
.startQuizButton:hover span:nth-child(1) {
  transform: rotateX(0deg);
}
.startQuizButton:hover span:nth-child(2) {
  color: transparent;
  transform: rotateX(-90deg);
}



@media screen and (max-width: 768px) {
  
  .startQuizButton{
    left: 40%;
    top: 75vh;
  }
  .reactLogo {
    height: 180px;
    left: 34%;
    top: 38vh;
   }
}
 @media screen and (min-width: 769px) and (max-width: 1024px) {
  .reactLogo {
   height: 15rem;
   top: 38vh;
  }
}
